* {
  box-sizing: border-box;
}

:target {
  animation: grey-highlight 0.55s 0.05s 1;
  background-color: #eee;
}

@keyframes grey-highlight {
  0% {
    background-color: #666;
  }

  100% {
    background-color: #eee;
  }
}

body {
  background-color: #fcfcfc;
  color: #222;
  font: 18px/1.5 Helvetica, "DejaVu Sans", Arial
    , "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}

a {
  color: #666;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
  line-height: 1.125;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

a:hover,
a:focus {
  color: #000;
}

.article {
  max-width: 35em;
  margin-bottom: 2em;
}

.article .content {
  margin-bottom: 5em;
}

.article .content::after {
  content: "-Fin";
  position: relative;
  top: 2em;
  font-family: serif;
}

#nav {
  margin-top: 2em;
}

#disqus_thread {
  margin-top: 2em;
}
