<!doctype html>
<html lang="zh-CN">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{% if page.title != site.name %}
      {{ page.title }} | {{ site.name }}
    {% else %}
      {{ site.name }}
    {% endif %}</title>
  <link rel="alternate" title="{{ site.name }}" href="/atom.xml"
    type="application/atom+xml" />
  <link href="/css/style.css" rel="stylesheet" type="text/css" />
  <meta name="viewport" content="width=device-width" />
</head>
<body>
  {{content}}
  {% include stat.html %}
</body>
</html>
